<!DOCTYPE html>
<html>
<head>
<title>Welcome to Data Verifier</title>
 <style>
    a
    {
        margin-top:15px;
        display:block
    }
 </style>
	<script src="../static/jquery-1.11.1.min.js" type="text/javascript"></script>
</head>
<body>

<div style="padding:20px 50px">
	<div id="full_increment" style="margin-top:15px;margin-right:5px;display:inline;font-size:large">No Mode Info!</div>
	<input type="button" value="Refresh" onclick="get_full_increment_mode()" style="display:none" />
	<div id="jobstatus" style="margin-top:15px;font-size:large"></div>

	<br />
	<select id="dbsel">
		<option value="Dev">DEV</option>
		<option value="prod">gbs-cosmos-prod</option>
       <option value="US">gbs-cosmos-us</option>
	</select>

	<input type="button" value="Switch DB" onclick="switchdb()" />
	<script type="text/javascript">
		$if connstr.lower() == 'gbs-cosmos-prod':
			$$('#dbsel').val('prod')
		$if connstr.lower() == 'gbs-cosmos-us':
		    $$('#dbsel').val('US')
		$else:
			$$('#dbsel').val('Dev')
	</script>

	<script type="text/javascript">
		$$.ajaxSetup({cache:false});

       function get_full_increment_mode(){
		    var u = '/getfimode/'
		    $$.get(u, function(rs){
		    	//alert(rs)
				$$('#full_increment').html(rs)
			})
		}

		function getsyncstatus(){
			var u = '/getjobstatus/'

			$$.getJSON(u, function(rs){
				var s = 'Sync Job Information:<br />'
				for(var key in rs[0]){
					s += "<div>" + key + " : " + rs[0][key] + "</div>"
				}
				s = s + '<br />T4 Job Information:<br />'
				for(var key in rs[1]){
					s += "<div>" + key + " : " + rs[1][key] + "</div>"
				}
				$$('#jobstatus').html(s)
			})
		}

		function switchdb(){
			var d = $$('#dbsel').val()
			var u = '/switchdb/'
			$$.post(u, {'db':d}, function(rs){
				alert(rs)
			})
			get_full_increment_mode()
		}
	</script>

    <br /><br />
    <a href="/execlog/" target="view_window">Mdx KPI Browse Logs</a>

    <a href="/mdxquery/" target="view_window">Generate MDX Query</a>

    <a href="/dim/" target="view_window">Dim ID List</a>

    <a href="/verifykpi/T4" target="view_window">T4 Premier&amp;BC Verify KPI Values</a>

    <a href="/verifykpi/DE" target="view_window">DeliveryExcellence Verify KPI Values</a>

	<a href="/addnode/" target="view_window">Add New Hierarchy Node</a>

	<a href="/clipboard/" target="view_window">Clipboard</a>

	<a href="/batchexec/" target="view_window">Run SQL script to Multi-Server</a>

	<a href="/backupsql/" target="view_window">Show Backup Sql Script</a>
</div>

<script type="text/javascript">
	get_full_increment_mode();
	getsyncstatus();
</script>

</body>
</html>