$def with (kpis)
<title>KPI Values Verify</title>
<style>
    select,input{
        margin:3px 1px;
    }
    td{
        width:103px;
    }
    h4{
        margin:0px 0px;
    }
</style>
<script>
    function setselectid(name, obj){
        document.getElementsByName(name)[0].value=obj.value
    }
</script>
<form action="/verifykpi/t4" method="post">
Please input dashboard ID:
<input name="dashboard" type="text" value="1" />
<select name="dashboard_sel" onchange="setselectid('dashboard', this)">
    <option value="1">Premier</option>
    <option value="2">BC</option>
    <option value="3">SMS&amp;P</option>
    <option value="4">Delivery Excellence</option>
    <option value="0">Premier Info</option>
    <option value="8">Customer Service</option>
    <option value="9">Partner</option>
</select>
<br />
Please input fiscaltime ID:
<input name="fiscaltime" value="45" />
<select name="fiscaltime_sel" onchange="setselectid('fiscaltime', this)">
    <option value="32" selected="selected">FY14FM08 FY14Feb</option>
    <option value="25">FY14FM01 FY14Jul</option>
    <option value="33">FY14FM09 FY14Mar</option>
    <option value="34">FY14FM10 FY14Apr</option>
    <option value="35">FY14FM11 FY14May</option>
    <option value="36">FY14FM12 FY14Jun</option>
	<option value="37">FY15FM01 FY15Jul</option>
    <option value="38" >FY15FM02 FY15Aug</option>
    <option value="39">FY15FM03 FY15Sep</option>
    <option value="40">FY15FM04 FY15Oct</option>
    <option value="41">FY15FM05 FY15Nov</option>
    <option value="42">FY15FM06 FY15Dec</option>
    <option value="43">FY15FM07 FY15Jan</option>
    <option value="44">FY15FM08 FY15Feb</option>
    <option value="45" selected="selected">FY15FM09 FY15Mar</option>
    <option value="46">FY15FM10 FY15Apr</option>
    <option value="47">FY15FM11 FY15May</option>
    <option value="48">FY15FM12 FY15Jun</option>

</select>
<br />
Please input geography ID:
<input name="geography" type="text" value="1000000" />
<select name="geography_sel" onchange="setselectid('geography', this)">
    <option value="1000000">WorldWide</option>
    <option value="1010000">Americas</option>
    <option value="1030000">ASIA</option>
    <option value="1010200">LATAM</option>
    <option value="1020000">EMEA</option>
    <option value="1030200">GCR</option>
    <option value="1010102">United States</option>
    <option value='1030100'>APAC</option>
    <option value='1030301'>India Level4</option>
    <option value='1030401'>Japan Level4</option>
    <option value='1020700'>DACH</option>
</select>
<br />
Please input product ID:
<input name="product" type="text" value="10000" />
<select name="product_sel" onchange="setselectid('product', this)">
    <option value="10000">ALL</option>
    <option value="10100">STB C&amp;E</option>
    <option value="10200">MOD ASG</option>
    <option value="10300">Dynamics</option>
    <option value="10400">STB/MOD</option>
    <option value='10205'>O365 Dedicated/ITAR</option>
    <option value='10206'>O365 MT/BPOS</option>
    <option value='10207'>ASG Cloud Other</option>
    <option value='10105'>Windows Intune</option>
    <option value='10106'>Azure</option>
    <option value='10303'>Dynamics CRM Online</option>
</select>
<br />
Please input deliverysite ID:
<input name="deliverysite" type="text" value="1" />
<select name="deliverysite_sel" onchange="setselectid('deliverysite', this)">
    <option value="1">WorldWide</option>
    <option value="17">ASIA</option>
    <option value="22">NA</option>
    <option value="3">LATAM</option>
    <option value="18">EMEA</option>
    <option value="7">India</option>
</select>
<br />
Please input public sector ID:
<input name="pubsector" type="text" value="10000" />
<select name="pubsector_sel" onchange="setselectid('pubsector', this)">
    <option value="10000">ALL</option>
    <option value="10100">PubSector</option>
    <option value="10200">Non-PubSec</option>
	<option value="10201">Central</option>
	<option value="10202">East</option>
	<option value="10203">West</option>
	<option value="10204">Other</option>
</select>
<br />
    <!--<input type="submit" value="submit" />-->
    <input type="button" value="submit" onclick="refreshkpi()" />
</form>
<script>
    function refreshkpi(){
        $$("#kpitable").html("")
        url = '/verifykpijson/?type=T4&dashboard='+$$("input[name='dashboard']").val()+'&fiscaltime='+$$("input[name='fiscaltime']").val()+'&geography='+$$("input[name='geography']").val()+'&product='+$$("input[name='product']").val()+'&deliverysite='+$$("input[name='deliverysite']").val()+'&pubsector='+$$("input[name='pubsector']").val()
        $$.get(url, function(result){
            os=eval(result);
            p = "<tr>"
            p+="<td><h4>KPI ID</h4></td>"
            p+="<td style='width:450px;'><h4>KPI Name</h4></td>"
            p+="<td><h4>displaytype</h4></td>"
            p+="<td><h4>Baselinetype</h4></td>"
            p+="<td><h4>statustype</h4></td>"
            p+="<td><h4>Baseline</h4></td>"
            p+="<td><h4>MTD target</h4></td>"
            p+="<td><h4>MTD</h4></td>"
            p+="<td><h4>MTD status</h4></td>"
            p+="<td><h4>YTD target</h4></td>"
            p+="<td><h4>YTD</h4></td>"
            p+="<td><h4>YTD status</h4></td>"
            p+="</tr>"
            for(var i=0;i<os.length;i++){
                p += "<tr>"
                p += "<td><a href='../mdxquery/?kpiid="+os[i]["kpiid"]+"&queryitem=MTD'>"+os[i]["kpiid"]+"</a></td>"
                p += "<td style='width:360px;'>"+os[i]["kpiname"]+"</td>"
                p += "<td>"+os[i]["displaytype"]+"</td>"
                p += "<td>"+os[i]["baselinetype"]+"</td>"
                p += "<td>"+os[i]["statustype"]+"</td>"
                p += "<td>"+os[i]["baseline"]+"</td>"
                p += "<td>"+os[i]["mtdtarget"]+"</td>"
                p += "<td>"+os[i]["mtd"]+"</td>"
                p += "<td>"+os[i]["mtdstatus"]+"</td>"
                p += "<td>"+os[i]["ytdtarget"]+"</td>"
                p += "<td>"+os[i]["ytd"]+"</td>"
                p += "<td>"+os[i]["ytdstatus"]+"</td>"
                p += "</tr>"
            }
            $$("#kpitable").html(p)
        })
    }
</script>
<table id="kpitable">
    <tr>
        <td><h4>KPI ID</h4></td>
        <td style="width:450px;"><h4>KPI Name</h4></td>
        <td><h4>displaytype</h4></td>
        <td><h4>Baselinetype</h4></td>
        <td><h4>statustype</h4></td>
        <td><h4>Baseline</h4></td>
        <td><h4>MTD target</h4></td>
        <td><h4>MTD</h4></td>
        <td><h4>MTD status</h4></td>
        <td><h4>YTD target</h4></td>
        <td><h4>YTD</h4></td>
        <td><h4>YTD status</h4></td>
    </tr>
    $for k in kpis:
        <tr>
        <td><a href='../mdxquery/?kpiid=$k.kpiid&queryitem=MTD'>$k.kpiid</a></td>
        <td>$k.kpiname</td>
        <td>$k.displaytype</td>
        <td>$k.baselinetype</td>
        <td>$k.statustype</td>
        <td>$k.baseline</td>
        <td>$k.mtdtarget</td>
        <td>$k.mtd</td>
        <td>$k.mtdstatus</td>
        <td>$k.ytdtarget</td>
        <td>$k.ytd</td>
        <td>$k.ytdstatus</td>
        </tr>
</table>